<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_Ticketmanager>
            <version>1.0.0.0</version>
        </Inchoo_Ticketmanager>
    </modules>
    <frontend>
        <secure_url>
            <customer>/inchoo_ticketmanager/</customer>
        </secure_url>
        <layout>
            <updates>
                <inchoo_ticketmanager>
                    <file>inchoo_ticketmanager.xml</file>
                </inchoo_ticketmanager>
            </updates>
        </layout>
        <routers>
            <inchoo_ticketmanager>
                <use>standard</use>
                <args>
                    <module>Inchoo_Ticketmanager</module>
                    <frontName>inchoo_ticketmanager</frontName>
                </args>
            </inchoo_ticketmanager>
        </routers>
    </frontend>
    <global>
        <models>
            <inchoo_ticketmanager>
                <class>Inchoo_Ticketmanager_Model</class>
                <resourceModel>inchoo_ticketmanager_resource</resourceModel>
            </inchoo_ticketmanager>
            <inchoo_ticketmanager_resource>
                <class>Inchoo_Ticketmanager_Model_Resource</class>
                <entities>
                    <manager>
                        <table>inchoo_ticketmanager_manager</table>
                    </manager>
                    <chat>
                        <table>inchoo_ticketmanager_chat</table>
                    </chat>
                </entities>
            </inchoo_ticketmanager_resource>
        </models>
        <blocks>
            <inchoo_ticketmanager>
                <class>Inchoo_Ticketmanager_Block</class>
            </inchoo_ticketmanager>
        </blocks>
        <resources>
            <inchoo_ticketmanager_setup>
                <setup>
                    <module>Inchoo_Ticketmanager</module>
                </setup>
            </inchoo_ticketmanager_setup>
        </resources>
        <helpers>
            <inchoo_ticketmanager>
                <class>Inchoo_Ticketmanager_Helper</class>
            </inchoo_ticketmanager>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inchoo_Ticketmanager before="Mage_Adminhtml">Inchoo_Ticketmanager_Adminhtml</Inchoo_Ticketmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>