*
!.gitignore
!app/code/local/Inchoo/
!app/design/frontend/rwd/default/layout/inchoo_ticketmanager.xml
!app/design/frontend/rwd/default/template/inchoo_ticketmanager/
!app/etc/modules/Inchoo_Ticketmanager.xml